<div class="row">
  <div class="col-xs-12">
    <h1>{{category.name}}</h1>
  </div>
</div>

<div class="list-group clearfix">
  <div class="row">
    <div class="col-xs-12 list-group-item">Category ID: <span class="pull-right">{{category.id}}</span></div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-primary" style="cursor: pointer; margin-right: 5px;">Edit recipe</a>
    <a class="btn btn-danger" style="cursor: pointer">Delete</a>
    <!-- <div class="btn-group" appDropdown>
            <button 
                type="button" 
                class="btn btn-primary dropdown-toggle">
                    Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">Add to Shopping List</a></li>
                <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit recipe</a></li>
                <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete</a></li>
            </ul>
        </div> -->
  </div>
</div>