<div class="row">
    <div class="col-xs-12">
        <h1>{{manufacturer.name}}</h1>
    </div>
</div>
<hr>
<div class="list-groupclearfix">
    <div class="row">
        <div class="col-xs-12 list-group-item">
            Manufacturer ID: <span class="pull-right">{{manufacturer.id}}</span>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-primary" style="cursor: pointer; margin-right: 5px;" (click)="onEditManufacturer()">Edit Manufacturer</a>
        <a class="btn btn-danger" style="cursor: pointer;" (click)="onDeleteManufacturer()">Delete</a>
    </div>
</div>