<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" style="margin-right: 5px;" class="btn btn-success" [disabled]="!productForm.valid">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" id="price" class="form-control" formControlName="price">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="ean">EAN</label>
                        <input type="text" id="ean" class="form-control" formControlName="ean">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="weightGram">Weight in grams</label>
                        <input type="number" id="weightGram" class="form-control" formControlName="weightGram">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="manufacturer">Manufacturer</label>
                        <select class="form-control" id="manufacturer" name="manufacturer" (change)="onManufacturerChange($event.target.value)">
                            <option value="{{manufacturer.id}}" *ngFor="let manufacturer of manufacturers" [selected]="manufacturer.id == currentManufacturer">{{manufacturer.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select class="form-control" id="category" name="category" (change)="onCategoryChange($event.target.value)">
                            <option value="{{category.id}}" *ngFor="let category of categories" [selected]="currentCategory == category.id">{{category.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>