<div class="row">
    <div class="col-xs-12">
        <h1>{{product.name}}</h1>
    </div>
</div>
<hr>
<div class="list-group clearfix">
    <div class="row">
        <div class="col-xs-12 list-group-item">
            Product ID: <span class="pull-right">{{product.id}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 list-group-item">
            Price: <span class="pull-right">{{product.price}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 list-group-item">
            EAN: <span class="pull-right">{{product.ean}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 list-group-item">
            Weight in gram: <span class="pull-right">{{product.weightGram}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 list-group-item">
            Manufacturer ID: <span class="pull-right">{{product.manufacturer_Id}} ({{manufacturer.name}})</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 list-group-item">
            Category ID: <span class="pull-right">{{product.category_Id}} ({{category.name}})</span>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-primary" style="cursor: pointer; margin-right: 5px;" (click)="onEditProduct()">Edit Product</a>
        <a class="btn btn-danger" style="cursor: pointer;" (click)="onDeleteProduct()">Delete</a>
    </div>
</div>
